@model LeaveTypeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Leave Type Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
    </dl>
</div>
<br/>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>&nbsp;
    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-circle-left"></i>&nbsp;Back to List</a>
</div>
